{% extends "layout.html" %} 
{% block title %}Parents Login2{% endblock %}
{% block body %} 

<link href="{{ url_for('static' ,filename= 'css/style.css')}}" rel="stylesheet">
<!-- ======= parent Login2 section starts ======= -->

    <section id="login1" class="services section-bg">
      <div class="container" data-aos="fade-up">
  
        <div class="section-title">
          <h2>Choose what you want to see!</h2>
          <a href="#about" class="get-started-btn scrollto">Academic Performance</a> <a href="#about" class="get-started-btn scrollto">Non Academic Performance</a>
        </div>
      </div>

      {% endblock %}