{% extends "layout.html" %} 
{% block title %}Student Login{% endblock %}
{% block body %} 

<link href="{{ url_for('static' ,filename= 'css/style.css')}}" rel="stylesheet">



  <!-- ======= Student login section starts ======= -->


 
    <section id="login2" class="h-100 gradient-form" style="background-color: #87a3f0;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">
    
                    <div class="text-center">
                      <img src="{{ url_for('static' ,filename='img/dclogo.png')}}" style="width: 185px;" alt="logo">
                      <br>
                      <h4 class="mt-1 mb-5 pb-1">ETH Digital Campus</h4>
                    </div>
                      <form>
                      <p> loging in as a student please Enter credentials! </p>
    
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example11">Username</label>
                        <input type="text" id="form2Example11" class="form-control" placeholder="Enter Username"/>
                        
                      </div>
    
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example22">Password</label>
                        <input type="password" id="form2Example22" class="form-control" placeholder= "Enter Password"/>
                        
                      </div>
                      <center>
                        
                        <center><button type="submit" class="btn btn-primary">Login</button></center>
    
                    </form>
    
                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">Dear Students,Teachers open the door, but you must enter by yourself! </h4>
                    <p class="small mb-0">Login to Digital Campus to explore more about your progress! </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

    <!---Student login section ends -->




{% endblock %}